<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.icia.mapper.ProductsMapper">
    <select id="getList" resultType="kr.icia.vo.ProductsVO">
        <![CDATA[
            select * from list_products where pno > 0
]]>
    </select>

    <insert id="insert">
        insert into list_products(pno, p_comment, p_detail,)
        values (seq_products.nextval, #{p_comment}, #{p_detail})
    </insert>

    <insert id="insertSelectKey">
        <selectkey keyproperty="pno" order="BEFORE" resultType="long">
            select seq_products.nextval from dual
        </selectkey>
            insert into list_products(pno, p_comment, p_detail)
            values (#{pno}, #{p_comment}, #{p_detail})
    </insert>

    <select id="read" resultType="kr.icia.vo.ProductsVO">
        select * from list_products where pno=#{pno}
    </select>

    <delete id="delete">
        delete list_products where pno=#{pno}
    </delete>

    <update id="update">
        update list_products
        set p_comment = #{p_comment},
        set p_detail = #{p_detail},
        set p_regdate = #{p_regdate},
        set p_updatedate = #{p_updatedate}
        where pno = #{pno}
    </update>
</mapper>